/* src/App.css */
body {
  margin: 0;
  background-color: #fcfdfc;
  color: #2d3748;
}

button:hover {
  filter: brightness(0.95);
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #8FBC8F !important;
  box-shadow: 0 0 0 3px rgba(143, 188, 143, 0.2);
}